.App {
  text-align: center;
  font-family: "Poppins", serif;
  //font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  --font-logo: 'Caveat', serif;
  --aprofunde-se-black: #05030C;
  --aprofunde-se-green: #09814A;
  --aprofunde-se-pale-green: #495F41;
  --aprofunde-se-dark-green: #2A4D14;
  --aprofunde-se-orange: #D0871E;
  --aprofunde-se-orange-logo: #FF581A;
  --aprofunde-se-grey: #fff4ed;
  --aprofunde-se-black-text: #000000cc;

  //* {
  //  background: #000 !important;
  //  color: #0f0 !important;
  //  outline: solid #f00 1px !important;
  //}
  .flex {
    display: flex;
  }

  a {
    color: unset
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-col {
    flex-direction: column;
  }

  .br-1rem {
    border-radius: 1rem;
  }
}





