.App {
  text-align: center;

  $--aprofunde-se-black : #05030C;
  $--aprofunde-se-green : #09814A;
  $--aprofunde-se-pale-green : #495F41;
  $--aprofunde-se-dark-green : #2A4D14;
  $--aprofunde-se-orange : #FF873D;
}
